.Error {
    display: flex;
    height: 100%;

    .errorWrapper {
        display: flex;
        flex-direction: column;
        margin: auto;

        .img-div {
            margin: auto;

            img {
                width: 55px;
                height: 55px;
            }
        }

        p {
            font-size: 0.9rem;
        }
    }
}
