@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR:900&display=swap");
@import "styles/utils";

header {
    h1 {
        color: #23374d;
        margin-top: 1rem;
        font-size: 3rem;
        text-align: center;
        font-weight: 900;

        @include media("<=sm") {
            font-size: 2.5rem;
        }
    }
}
