@import 'styles/utils';

.SearchBar {
    width: 100%;
    text-align: center;

    .content {
        display: flex;
        border-radius: 5px;
        overflow: hidden;
        -webkit-box-shadow: 0px 0px 30px -22px #000000; 
        -moz-box-shadow: 0px 0px 30px -22px #000000; 
        box-shadow: 0px 0px 30px -22px #000000;

        .input-div {
            flex: 1;
            background-color: white;
            padding: 1rem 2rem;

            @include media("<sm") {
                padding: 1rem;
            }

            input {
                width: 100%;
                font-size: 1.1rem;
                border: none;
                outline: none;

                @include media("<sm") {
                    font-size: 0.9rem;
                }
            }
        }

        .button-div {
            display: flex;
            background-color: #1089ff;
            padding: 1rem;
            cursor: pointer;

            .button {
                color: white;
                margin: auto;
                font-weight: bold;
                
                @include media("<sm") {
                    font-size: 0.8rem;
                }
            }
        }
    }
    .alert {
        visibility: hidden;
        font-size: 0.9rem;
        font-weight: bold;
        color: #c70d3a;

        &.show {
            visibility: visible;
        }
    }
}