@import "styles/utils";

.PageTemplate {
    margin: auto;
    padding: 0 1rem;
    min-width: 43rem;

    @include media("<=med") {
        min-width: 31rem;
    }

    @include media("<=sm") {
        min-width: 100%;
    }
}
